h2{
    color: indigo;
    background-color: antiquewhite;
}
button{
    color: white;
    background-color: black;
}
p{
    color: olive;
    font-style: italic;
    background: whitesmoke;
    
}
h1{
    
}